@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Zen+Kurenaido&display=swap');

@mixin footerElem
{
	footer
	{
		font-size: 1.5rem;
		color: $color_text333;
		.linedata
		{
			background-color: $color_bgfooter;
			margin-top: 20px;
			height: 70px;

			display: flex;
			flow-flow: row wrap; 
			justify-content: space-around;
			align-items: center;
			
			.email
			{
				display: flex;
				align-items: center;
					i
					{
						font-size: 2.5rem;
						margin-right: 10px;

					}
					margin-left: 10px; 
					
			}

			.join
			{
				display: flex;
				align-items: center;

				.emailInput
				{
					width: 350px;
					border: .3px solid $color_borderInput;
				    color: $color_text777;
				    text-transform: uppercase;
				    font-size: 11px;
				    background: 0 0;
				    height: 36px;
				    line-height: 34px;
				    margin: 0;
				    max-width: 100%;
				    text-indent: 10px;
				    outline: 0;
				    min-height: 32px;

				}

				.smallButton
				{
					height: 36px;
					border: 0.3px solid $color_borderInput;
				    margin-left: 0;
				    line-height: initial;
				    background: $color_buttonFooter;
				    text-transform: uppercase;
				    font-size: 11px;
				    float: left;
				    width: 115px;
				    display: inline-block;
				    border-radius: 0;
				    transition: all 0.3s linear;
				    &:hover
				    {
				    	background: $color_black;
				    	color: $color_white;
				    }

				}
			}

			.connect
			{
				display: flex;
				align-items: center;
				a 
				{
					margin: 0 10px;
				}
			}

		}


		.links
		{
			color: $color_text333;
			font-family: "Outfit", sans-serif;
			font-size: 1.2rem;
			font-weight: 300;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 40px;
			ul li
			{
				margin: 0 20px;
				list-style: none;
				display:  inline-block;
				a
				{
					color: $color_text333;
				}
			}
		}

	}
}