@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@import "-useColors.scss";
@import "-mixinHeader.scss";
@import "-mixinContentImg.scss";
@import "-mixinFooter.scss";

*
{
	font-family: "Questrial", sans -serif;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	outline: none;
	border:none;
	text-decoration: none;
	text-transform: capitalize;
	/* transition: .2s linear; */

}

html
{
	font-size: 65.25%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;

	&::-webkit-scrollbar 
	{
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track 
	{
		background: transparent;
	}

	&::-webkit-scrollbar-thumb
	{
		background: $color_black;
		border-radius: 2rem;
	}
}

body
{
	 background-color: $color_white;

}

a
{
	text-decoration: none; 
	color: $color_black;
	outline: 0;
	transition: all .25s ease-in-out; 
}

@include headerElem;

@include contentImg;

@include footerElem; 


/* addapdate 📲📲 */

@media(max-width: 991px) {
	
	html
	{
		font-size: 60%;
	}

	header 
	{
		.heading
		{
			width: 768px;
			margin: 0 auto;
			
		}
	}

	.content 
	{
		.gerg
		{
			.justText
			{
				width: 768px;
				margin: 0 auto;
			}
		}
	}

	footer
	{
		font-size: 1rem;
		.email
		{
			i {
				font-size: 1.5rem;
			}
		}


	}
}


@media(max-width: 768px) {

	header 
	{
		.heading
		{
			width: 425px;
			margin: 0 auto;
			padding-bottom: 50px;

			.navbar
			{
				position: relative;
				top: 35px;

				ul
				{
					li
					{
						a 
						{
							font-size: 1rem;
							padding: 0 3px;
						}
					}
				}
			}
		}
	}

	.content 
	{
		.gerg
		{
			.justText
			{
				width: 425px;
				margin: 0 auto;
				p
				{
					font-size: 2rem;
				}
			}
		}
	}


	footer
	{
		.linedata
		{
			.join
			{
				.emailInput  
				{
					width: 250px;
					font-size: 1rem;
				}

				.smallButton
				{
					width: 100px;
					font-size: 1rem;
				}
			}	
		}

		.links
		{
			width: 425px;
			margin: 0 auto;
			ul li
			{
				display: block;
				text-align: center;
				margin: 20px 0;
				
				padding-bottom: 20px; 
				border-bottom: 1px solid lighten($color_black, 90%);
			}
		}
	}

}