@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


@import "../../scss/-useColors.scss";
@import "../../scss/-mixinHeader.scss";
@import "mixins/-mixinSizeGuideContent.scss";
@import "../../scss/-mixinFooter.scss";

*
{
	font-family: "Questrial", sans -serif;
	margin: 0;
	padding:  0;
	box-sizing: border-box;
	outline: none;
	border:none;
	text-decoration: none;
	text-transform: capitalize;
	/* transition: .2s linear; */
	&::-webkit-scrollbar 
	{
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track 
	{
		background: $color_scroll;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: $color_black;
		border-radius: 2rem;
	}
}

html
{
	font-size: 65.25%;
	overflow-x: hidden;
	scroll-padding-top: 9rem;
	scroll-behavior: smooth;

	&::-webkit-scrollbar 
	{
		width: 3px;
		height: 3px;
	}

	&::-webkit-scrollbar-track 
	{
		background: transparent;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: $color_black;
		border-radius: 2rem;
	}
}

body
{
	 background-color: $color_white;
	 line-height: 1.6rem;

}

a
{
	text-decoration: (none !important); 
	color: $color_black;
	outline: 0;
	transition: all .25s ease-in-out; 
}

p
{
	margin-bottom: (0 !important);
}

.navbar
{
	display: (block !important);
}


@include headerElem;

@include sizeGuideContentElem;

@include footerElem;



@media(max-width: 991px) {
	
	html
	{
		font-size: 60%;
	}

	header 
	{
		.heading
		{
			width: 768px;
			margin: 0 auto;
			.navbar
			{
				ul 
				{
					text-align: center;
				}
			}	
		}
	}

	.content 
	{

		width: 768px;
		margin: 0 auto;
		margin-top: 18.5rem;

			
		.headText {
			.line {
				width: 768px;
				width: 0 auto;
			}
		}

		.pos_btns
		{
			left: 0;
			top: 0;
			.btns
			{
				position: relative;
				margin-bottom: 30px;
				max-width: calc(100% - 0px);
			}
		}
	}

	footer
	{
		font-size: 1rem;
		.email
		{
			i {
				font-size: 1.5rem;
			}
		}


	}
}


@media(max-width: 768px) {

	header 
	{
		.heading
		{
			width: 425px;
			margin: 0 auto;
			padding-bottom: 50px;

			.navbar
			{
				position: relative;
				top: 35px;

				ul
				{
					li
					{
						a 
						{
							font-size: 1rem;
							padding: 0 3px;
						}
					}
				}
			}
		}
	}

	.content 
	{
		width: 425px;
		margin: 0 auto;
		margin-top: 18.5rem;

			
		.headText {
			.line {
				width: 425px;
				width: 0 auto;
			}
		}

		.imgDiv2
		{
			justify-content: center;
		}
	}


	footer
	{
		.linedata
		{
			.join
			{
				.emailInput  
				{
					width: 250px;
					font-size: 1rem;
				}

				.smallButton
				{
					width: 100px;
					font-size: 1rem;
				}
			}	
		}

		.links
		{
			width: 425px;
			margin: 0 auto;
			ul li
			{
				display: block;
				text-align: center;
				margin: 20px 0;
				
				padding-bottom: 20px; 
				border-bottom: 1px solid lighten($color_black, 90%);
			}
		}
	}

}

@media(max-width: 375px) {
		

		header {
			
			.heading {
				width: 320px;
				margin: 0 auto;
				.divlogo {
					margin-left: 20px;
				}

				.navbar {
					ul
					{

						text-align: center;
						li {
							a { 
								padding-top: 5px;
								padding-bottom: 5px;
							}
						}
					}
				}
			}
		}

		.content {
		

			width: 320px;
			margin: 0 auto;
			margin-top: 18.5rem;

			
			.headText {
				.line {
					width: 320px;
					width: 0 auto;
				}
			}

			.Hisimg
			{
				img 
				{
					width: 255px;
				}
			}

			.imgDiv2
			{
				justify-content: center;

				img
				{
					width: 166px;
				}
			}
		}

		footer 
		{
		
			.linedata {
				display: flex;
				flex-flow: column wrap;
				height: 100px;

			}

			.links
			{
				width: 320px;
				margin: 0 auto;
				
			}
		}
}