@import "-mixinHeadTextContent.scss";

@mixin sizeGuideContentElem 
{
	.content
	{
		width: 980px;
		margin: 0 auto; 
		margin-top: 14.5rem;
		margin-bottom: 11rem;
		font-size: 1.25rem;
		color: $color_text333; 

		@include headText;

		.headText
		{
			margin-top: 20px;
			

			h1
			{

				font-weight: 400;
				color: lighten($color_black, 10%);
				margin-bottom: 5px;

			}

			.line
			{
				width: 980px;
				margin: 0 auto;
				height: 0.5px;
				background-color: lighten($color_text777, 30%);
				margin-bottom: 20px;
			}
		}

	.pos_btns
	{
		position: relative;
	    left: 230px;
	    top: -10.8rem;
		.btns
		{
			display: flex;
			flex-direction: column;
			
			position: absolute;
		/* 	left: 230px; 
			top: 13rem; */

			overflow: hidden;
			max-width: calc(100% - 230px);
			h3
			{
				font-size: 1.35rem;
				margin-bottom: 10px;
			}
			.listButt
			{
				display: flex;
				overflow: auto; 
				width: 100%;
				white-space: nowrap;
				button
				{
					font-size: 14px;
					padding: (7px 20px !important);
					border-radius: 4px; 
					border-color: $color_buttonObrder;
					margin-right: 20px;
					margin-bottom: 5px;
				}
			}
		}
	}
		

		.tablesIfo
		{
			h3
			{

				text-transform: uppercase;
				font-weight: 400;
				color: lighten($color_black, 10%);
				margin: 5px 0;
				margin-left: 5px;
			}

			table
			{
				color: $color_text777;
					/* &::-webkit-scrollbar-thumb
					{
						background-color: $color_white;
						border-radius: 2rem;
					} */

				thead > tr > th
				{
					vertical-align: bottom;
   					border-bottom: 2px solid $color_white;
				}

				tbody tr th
				{
					font-weight: 100;
					border-bottom: 2px solid $color_white;
				}

				tbody tr td
				{
					border-bottom: 2px solid $color_white;
				}

			}
		}
	}
}