@mixin contentElem
{
	.content
	{
		width: 980px;
		margin: 0 auto;
		margin-top: 12.5rem;
		font-size: 1.25rem;
		color: lighten($color_text777, 10%);

		.HomeandAbout
		{
			font-weight: 100;
			letter-spacing: 0.5px; 
			font-size: 11px;
			margin-bottom: 20px 10px;

			a
			{
				color: $color_text777;
				letter-spacing: 1px;
				margin-bottom: 20px;
				text-transform: uppercase;

			}
		}

		.headText
		{
			margin-top: 20px;
			h1
			{
				font-weight: 400;
				color: lighten($color_black, 10%);
				margin-bottom: 5px;
			}

			.line
			{
				width: 980px;
				margin: 0 auto;
				background-color: lighten($color_text777, 30%);
				height: 0.5px;
				margin-bottom: 20px;
			}
		}


		.textAbout
		{

			p:nth-child(1)
			{
				text-transform: none;
				margin-bottom: 20px;
			}

			p:nth-child(2)
			{
				text-transform: none;
				margin-bottom: 20px;
			}
		}

		.Hisimg
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img
			{
				margin: 20px 0;
				width: 480px;
				height: 320px;
				object-fit: cover;
			}

		}


		.textAbout2
		{
			margin-bottom: 20px;
			p
			{
				text-transform: none;
			}
		}

		.imgDiv2
		{
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			
			
			img
			{
				margin: 0 20px;
				width: 480px;
				height: 320px;
				object-fit: cover;

			}
		}

		.textAbout3
		{
			margin-top: 20px;
			
			p:nth-child(1)
			{
				text-transform: none;
				margin-bottom: 10px;
			}

			p:nth-child(2)
			{
				text-transform: none;
				margin-bottom: 10px;
			}

			p:nth-child(3)
			{
				text-transform: none;
				margin-bottom: 100px;
			}
		}
	}
}